################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Tech_Manage_Server/FileContentIndex/4c0ffe33-b484-47ce-a92d-48a989445553.vsidx
/.vs/Tech_Manage_Server/FileContentIndex/6f74e629-c550-46ab-835d-179fbbc63ed7.vsidx
/.vs/Tech_Manage_Server/FileContentIndex/95cbd155-3f33-438d-b3e2-8d8dba10556f.vsidx
/.vs/Tech_Manage_Server/FileContentIndex/c58c343d-bb36-4b01-af66-4dc40ae311f8.vsidx
/.vs/Tech_Manage_Server/FileContentIndex/e9bbb290-3449-4a3f-bbfe-020010c94458.vsidx
*.jfm
/.vs/Tech_Manage_Server/FileContentIndex/969b885b-f4fe-4a92-b7ca-ed006517f07f.vsidx
/.vs/Tech_Manage_Server/FileContentIndex/a9216b18-1c8d-4853-b722-70d07c1b4384.vsidx
/.vs/Tech_Manage_Server/FileContentIndex/baf4cd07-c83e-424b-872d-0980f922b7be.vsidx
/.vs/Tech_Manage_Server/FileContentIndex/eb147689-d7bc-4fee-af52-50db9fbac908.vsidx
/.vs/Tech_Manage_Server/FileContentIndex/f742596d-81ad-4dc8-ad65-3d274e2229b6.vsidx
/.vs/Tech_Manage_Server/FileContentIndex/029ae889-83e6-4b79-8e3d-dd513a5cfbb4.vsidx
/.vs/Tech_Manage_Server/FileContentIndex/02eeee41-7ba3-4061-9ed5-757390c4a659.vsidx
/.vs/Tech_Manage_Server/FileContentIndex/1623d34e-9c26-485b-a3ec-854878995872.vsidx
/.vs/Tech_Manage_Server/FileContentIndex/46541096-75bd-4b80-b13a-833deea76366.vsidx
/.vs/Tech_Manage_Server/FileContentIndex/a514329f-5020-4830-92f5-0a3d8cfe96f2.vsidx
