################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Tech_Manage_Server/FileContentIndex/4c0ffe33-b484-47ce-a92d-48a989445553.vsidx
/.vs/Tech_Manage_Server/FileContentIndex/6f74e629-c550-46ab-835d-179fbbc63ed7.vsidx
/.vs/Tech_Manage_Server/FileContentIndex/95cbd155-3f33-438d-b3e2-8d8dba10556f.vsidx
/.vs/Tech_Manage_Server/FileContentIndex/c58c343d-bb36-4b01-af66-4dc40ae311f8.vsidx
/.vs/Tech_Manage_Server/FileContentIndex/e9bbb290-3449-4a3f-bbfe-020010c94458.vsidx
